ol, li, p{
    font-family: Helvetica, "Times New Roman", sans-serif;
}

li{
    font-size: 18px; 

}

.listItems{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(114, 144, 170);
    margin: 10px;
    text-align: center;
}

.homeBackground{
    background-color: rgb(43, 28, 28);
}

.unorderList{
    display: inline-block;
}

h1{
    font-size: 30px;
    font-family: "Courier New", sans-serif;
}

h2{
    font-size: 22px;
    font-family: sans-serif, Geneva;
}

ol{
    background-color: rgb(180, 39, 39);
}

img{
    height: auto;
    width: 300px;
}